body {
    background-color: rgb(250, 250, 250);
    font-family: 'Courier New', Courier, monospace,
}

.styletable {
    background-color: #0ea88a;
    overflow: hidden;
    border-radius: 6px;
    border-bottom: 2px solid #0ea88a;
    border-top: 2px solid #0ea88a;
    height: 800px;
    
}


 

.cs_table {
    border-collapse: collapse;
    margin-top: 0px;
    font-size: 0.7rem;
    min-width: 400px;
    width: 1024;
    border-radius: 6px;
    /* font-size: 1rem; */
    
    /* background-color: white; */
}

.cs_table thead td {
    background-color: #0ea88a;
    color: white;
    text-align: left;
    font-weight: bold;
    font-size: 1rem;
    border-bottom: #dddddd;
    
    /* border-bottom: 1px solid black; */
}

.cs_table th,
.cs_table td {
    padding: 5px 15px;
}

.cs_table tbody tr td {
    border-bottom: 1px solid #dddddd;

    
}

.cs_table tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

.cs_table tbody tr:nth-child(odd) {
    background-color: white;
}


.cs_table tbody tr td:nth-last-child(6) {
    border-bottom: 2px solid #44caaf;
}

.cs_table tfoot tr td {
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #0ea88a;
}

.columnheader {
    height: 80px;
    width: 33.33%;
    float: top;
    color: black;
    text-align: center;
    padding-top : -40px;
}

.columnheader1 {
    height: 80px;
    width: 33.33%;
    float: left;
    color: black;
    text-align: center;
    padding-top: -40px;
}

.columnsfooter {
    /* height: 85px; */
    width: 33.33%;
    float: left;
    color: black;
    text-align: center;
    font-size: 7px;
}



/* .cs_table tfoot tr td:nth-child(6),
.cs_table tfoot tr td:nth-child(5),
.cs_table tfoot tr td:nth-child(4) {
    text-align: center;
    color: white
} */