@font-face {
    font-family: myFont;
    src: url('../fonts/JF-FLAT-REGULAR.TTF');
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: myFont;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    border: 1px solid black;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    border: 1px solid black;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.header {
    padding: 5px;
    text-align: center;
    background: #1abc9c;
    color: white;
}